In [15]:
import datetime as dt
today = dt.date(2024,8,18)
today

datetime.date(2024, 8, 18)

In [51]:
import pandas as pd
# s = pd.date_range(start="2024-08-18",end="2024-08-25", freq="W")
df = pd.read_csv("csv/ibm.csv", parse_dates=['Date'], index_col="Date").sort_index()
df.head()
df.index + pd.DateOffset(days=5)
df.head()

               Open     High      Low    Close         Volume
Date
1962-01-02  5.04610  5.04610  4.98716  4.98716  593562.955237
1962-01-03  4.98716  5.03292  4.98716  5.03292  445175.034277
1962-01-04  5.03292  5.03292  4.98052  4.98052  399513.586679
1962-01-05  4.97389  4.97389  4.87511  4.88166  559321.480565
1962-01-08  4.88166  4.88166  4.75059  4.78972  833273.771393